{% extends template.self %}

{% block body %}
<script src="https://hypothes.is/embed.js" async></script>
<div class="book">
    <div class="book-summary">
        {% block book_sidebar %}
            {% block search_input %}{% endblock %}
            {% block book_summary %}
                <nav role="navigation">
                {% include "website/summary.html" %}
                </nav>
            {% endblock %}
        {% endblock %}
    </div>

    <div class="book-body">
        {% block book_body %}
            <div class="body-inner">
                {% block book_inner %}
                    {% include "website/header.html" %}

                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            {% block search_results %}
                                <section class="normal markdown-section">
                                {% block page %}
                                {{ page.content|safe }}
                                {% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>

            {% block book_navigation %}
                {% if page.previous and page.previous.path %}
                <a href="{{ page.previous.path|resolveFile }}{{ page.previous.anchor }}" class="navigation navigation-prev {% if not (page.next and page.next.path) %}navigation-unique{% endif %}" aria-label="Previous page: {{ page.previous.title }}">
                    <i class="fa fa-angle-left"></i>
                </a>
                {% endif %}
                {% if page.next and page.next.path %}
                <a href="{{ page.next.path|resolveFile }}{{ page.next.anchor }}" class="navigation navigation-next {% if not (page.previous and page.previous.path) %}navigation-unique{% endif %}" aria-label="Next page: {{ page.next.title }}">
                    <i class="fa fa-angle-right"></i>
                </a>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>

    <script>
     var gitbook = gitbook || [];
     gitbook.push(function() {
         console.log("executing gitbook function");
         gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
         location.reload();
     });

    </script>
    </div>
{% endblock %}
