#fahrplan + table {
  font-size: 12px !important;
}

.badge-wrapper {
  display: none;
}

/*Formatierung von Tasten des Keyboards, http://www.jimmyscode.com/css-styling-for-kbd-tags/*/

kbd {
  padding:0.1em 0.6em;
  border:1px solid #ccc;
  font-size:11px;
  font-family:Arial,Helvetica,sans-serif;
  background-color:#f7f7f7;
  color:#333;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  margin:0 0.1em;
  text-shadow:0 1px 0 #fff;
  line-height:1.4;
  white-space:nowrap;
}

/*Formatierung der Zahlen, die sich auf einen Screenshot beziehen.*/
span.screenshot-ref-num {
    border: 2px solid red;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    color: red;
    font-weight: bold;
}

.markdown-section h1 {
    line-height: 1.2em;
}

.latex {
  display: none;
}
